.App {
  margin: 0 auto;
  max-width: 1024px;
  color: #007272;
}

.App h2 {
  font-weight: 400;
}

.App main {
  padding: 1rem;
}

.App-header {
  text-align: center;
  border-bottom: 0.0625rem solid #e9f8f4;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
}

.App-link {
  color: #61dafb;
}

.dnb-logo {
  fill: #007272;
  color: #007272;
  display: inline-flex;
  font-size: inherit;
  height: 48px;
  line-height: 1em;
  line-height: var(--line-height-xx-small--em);
  vertical-align: baseline;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.dnb-logo-text {
  color: #007272;
  font-size: 40px;
  font-weight: 300;
  padding: 0 0.5rem 0;
}

.dnb-logo-subtext {
  color: #007272b8;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1rem;
  font-style: italic;
}

.info-text {
  font-style: italic;
  text-align: center;
}

.rates-container {
  display: flex;
  justify-content: space-around;
}
