.App {
  margin: 0 auto;
  max-width: 1024px;
  color: #007272;
}

.App h2 {
  font-weight: 400;
}

.App main {
  padding: 1rem;
}

.App-header {
  text-align: center;
  border-bottom: 0.0625rem solid #e9f8f4;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
}

.App-link {
  color: #61dafb;
}

.parking-floor-container {
  padding: 2rem 0;
}

.parking-spaces-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 1rem;
  padding: 1rem 0;
}

.parking-spaces-text {
  min-height: 500px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 1rem;

  display: grid;
  grid-template-areas:
    'img img img img '
    'id id id id'
    'ticket ticket ticket ticket'
    'license-text license-text license-value license-value'
    'start-text start-text start-value start-value'
    'duration-text duration-text duration-value duration-value'
    'cost-text cost-text cost-value cost-value';

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 220px auto;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  text-align: left;
  transition: all 0.9s ease;

  h3 {
    text-align: center;
  }

  .parking-spaces-text__img {
    width: 110px;
    max-height: 220px;
    grid-area: img;
    transition: all 0.3s ease;
    margin: 0 auto;

    @keyframes drive-out {
      0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
      }

      100% {
        transform: scale(1.3) translateY(300px);
        opacity: 0;
      }
    }

    @keyframes drive-in {
      0% {
        transform: scale(0.7) translateY(-300px);
        opacity: 0.3;
      }
      100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
      }
    }

    &.parking-background {
      // margin: 0 auto;
      width: 110px;
      // transition: all 0.9s ease;
      min-height: 220px;
      background-image: url(images/parking.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px;
    }

    &.alex {
      width: 110px;
      min-height: 220px;
      background-image: url(images/car.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px;
      z-index: 112;

      animation: drive-out 0.4s ease-out 1;
      animation-fill-mode: forwards;
    }

    &.parking-occupied {
      // margin: 0 auto;
      width: 110px;
      // transition: all 0.9s ease;
      min-height: 220px;
      background-image: url(images/car.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px;
      z-index: 112;

      animation: drive-in 0.3s ease-out 1;
      animation-fill-mode: forwards;
    }
  }
  .parking-spaces-text__id {
    text-align: center;
    grid-area: id;
    margin: 0;
    white-space: pre-line;
  }
  .parking-spaces-text__ticket {
    text-align: center;
    grid-area: ticket;
    margin: 0;
  }
  .parking-spaces-text__license-text {
    grid-area: license-text;
  }
  .parking-spaces-text__license-value {
    grid-area: license-value;
  }
  .parking-spaces-text__start-text {
    grid-area: start-text;
  }
  .parking-spaces-text__start-value {
    grid-area: start-value;
  }
  .parking-spaces-text__duration-text {
    grid-area: duration-text;
  }
  .parking-spaces-text__duration-value {
    grid-area: duration-value;
  }
  .parking-spaces-text__cost-text {
    grid-area: cost-text;
  }
  .parking-spaces-text__cost-value {
    grid-area: cost-value;
  }
}

.dnb-logo {
  fill: #007272;
  color: #007272;
  display: inline-flex;
  font-size: inherit;
  height: 48px;
  line-height: 1em;
  line-height: var(--line-height-xx-small--em);
  vertical-align: baseline;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.dnb-logo-text {
  color: #007272;
  font-size: 40px;
  font-weight: 300;
  padding: 0 0.5rem 0;
}

.dnb-logo-subtext {
  color: #007272b8;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1rem;
  font-style: italic;
}

.info-text {
  font-style: italic;
  text-align: center;
}
